<div> <button id="save"> Save Your Floor </button> </div>
<div> <button id="create_table"> Create Table </button> </div>
<div id="input_forms"> </div>
<div id="tables"> </div>
<div id="edit_floorplan"> </div>