<!-- <head><script type="text/javascript" src="jquery.svgdom.js"></script></head> -->
<div id="customer-floor-plan">

  <h1>Check-In to Your Seat at <%= @floor_plan.restaurant_profile.restaurant_name %></h1>
  <div id="get_floorplan">

  </div>
</div>
