<h2>Please upload your menu items with the following headers:</h2>
<h3>Category, Name, Description, Price!</h3>
<%= form_tag import_menu_items_path, id: "import-csv-form", multipart: true do %>
  <%= file_field_tag :file %>
  <%= hidden_field_tag :id, @menu.id %>
  <%= submit_tag "Import" %>
<% end %>
