<div class="find-restaurant" data-role="page" id="page1">
    <p><%= link_to "Edit Profile", edit_customer_profile_url(@customer) %></p>

    <div class="search" data-role="content">
        <form action="/customer_profiles/find/" method ="get" id="search_form">
            <div data-role="fieldcontain">
                <input name="query" class="ui-input-search" id="filter" placeholder="Find a Restaurant" value="" type="search">
                <span id="filter-count"></span>
            </div>
            <input type="submit" data-inline="true" value="Search" id="submit" class="button">
        </form>
        <br>
    <div class="results">
        <% if @restaurants %>
          <% @restaurants.each do |restaurant| %>
            <li><%= link_to restaurant.restaurant_name, floor_plan_url(restaurant.floor_plan.id) %></li>
          <% end %>
        <% end %>
    </div>
    </div>
</div>
