


<div id="header">
  Header
</div>

<div id="floorplan">


</div>
<!-- <a href="#popupBasic" data-rel="popup">Open Popup</a>
<div data-role="popup" id="popupBasic">
  <p>This is a completely basic popup, no options set.<p>
</div> -->
