
@media (min-width: 600px){
body{
  margin: 0;
  font-family: Signika-Regular;
}

header {
  background-color: #7D1935;
  height: 35px;
  font-family: JustOldFashion;
}

header h2 {
  margin-top: 0;
  display: inline;
  margin-left: 10px;
}

header .log-out {
  float: right;
  margin-right: 15px;
}

.logout{
  line-height: 35px;
}

a {
  text-decoration: none;
}

.sign_up a{
  color: black;
}

.title{
  text-align: center;
}

.restaurant_nav{
  text-align: center;
  padding-left: 0;
}

.restaurant_nav li{
  display: inline;
  list-style-type: none;
  padding: 10px;
  background-color: orange;
  border: 1px solid black;
}

.restaurant_nav li a{
  text-decoration: none;
  color: black;
  margin-left: 0px;
}

.order_list{
  padding: 20px 10px;
  margin: 10px;
}
.order{
  background-color: #ea3925;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  list-style-type: none;
  margin: auto;
  margin-bottom: 5px;
  border-style: inset;
  border-color: gray;
  border-width: 5px;
  text-align: center;
}

.order a{
  text-decoration: none;
  color: white;
}

.container{
  margin: 40px auto ;
  border-style: inset;
  border-color: gray;
  border-width: 5px;
  width: 400px;
  background-color: #E3DEC1;
  text-align: center;
}

.seat_order {
  text-align: center;
  padding-left: 0;
}

.seat_order li{
  display: inline;
  list-style-type: none;
  padding: 15px;
  margin-right: 10px;
  width: 300px;
}

#floor {
  border: 2px solid black;
  margin: 10px;
  background-color: #487075;
}

.new-menu{
  text-align: center;
  margin-top: 50px;
}

.close_out{
  text-decoration: none;
  color: black;
  background-color: green;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  display: block;
}

}

/* ============MOBILE ===================*/

@media (max-width: 600px){
@viewport{
    zoom: 1.0;
    width: device-width;
}

body{
  margin: 0;
  background-color: #F5F3EE;
/*  background: url(rest.jpg) no-repeat center center fixed;
  background-size: cover;*/
  /*background-color: #E3DEC1;*/
  font-family: Signika-Regular;
}

header {
  background-color: #7D1935;
  height: 35px;
}

header h2 {
  margin-top: 0;
  color: white;
  display: inline;
  margin-left: 10px;
  font-family: sans-serif;

}

header .log-out {
  float: right;
  margin-right: 10px;
}

.logout{
  line-height: 35px;
}

#page1{
  margin-top: 0;
}

.container {
  /*background-color: #7D1935;*/
  width: 300px;
  text-align: center;
  margin: 10% auto;
  border-radius: 10px;
  opacity: .95;
  margin-bottom: 80px;
}

a{
  text-decoration: none;
  color: black;
}

.search {
  text-align: center;
  margin-top: 20px;
}

.ui-input-search{
  height: 35px;
  width: 250px;
  margin-bottom: 30px;
}

input {
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  width: 250px;
}

.results {
  background-color: #E3DEC1;
  margin: auto;
  width: 250px;
  border-radius: 5px;
}

.results li {
  list-style-type: none;
}

.results a {
  display: block;
  font-weight: bold;
  font-size: 24px;
}

.restaurant_name {
  text-align: center;
}

.button {
  background-color: #4A96AD;
  width: 200px;
  height: 35px;
  opacity: 1;
}

.find-restaurant {
  margin-top: 40%;
}

.ui-helper-hidden {
  background-color: gray;
}

ul {
  padding-left: 0;
}

li{
  list-style-type: none;
  padding: 5px;
}

.submit{
  margin: auto;
}


/* *************** MENU ************** */

.hidden_item {
      display:none;
    }
    :target + .hidden_item {
      display: inline-block;
    }

.accordion {
  width: 300px;
  color: black;
  background-color: #E3DEC1;
  overflow: hidden;
  margin: auto;
  border-radius: 10px;
  border: 1px solid black;
}

.accordion .hidden_item {
  overflow: hidden;
  margin: auto;
}

.menu_item {
  display: inline-block;
  text-align: left;
  margin-top: 0;
}

.menu_div{
  float: left;
  margin-left: 10px;
  clear: both;
}

.checkbox {
  display: inline-block;
  width: 100px;
  float: right;
  /*padding-top: 15px;
  padding-right: 5px;*/
  margin-left: 70px;
  margin-right: 10px;
}

.submit{
  text-align: center;
}

.category_name{
  text-align: center;
}

.item{
  float:left;
  margin:0;
}

.total {
  display:inline;
  /*float: right;*/
  clear: both;
}

.order_total li{
  display: inline;
}

.order_total .item{
  float: left;
}

.order_total .total{
  float: right;
}

.title {
  text-align: center;
}

/* ============== CUSTOMER NAV ================= */

.wrapper {
  padding-bottom: 90px;
}
.customer_nav {
  background-color: #7D1935;
  height: 64px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.customer_nav ul{
  margin-top: 0;
  margin-bottom: 0;
  line-height: 64px;
}

.customer_nav ul li{
  font-size: 24px;
  width: 50%;
  display: inline;
}
.right_option{
  float:right;
  border-left: 1px solid black;
  text-align: center;
  padding-bottom: 10px;
}

.left_option{
  /*margin-left: 20px;*/
  text-align: center;
}

.customer_nav a{
  color: white;
}

#floor {
  border: 2px solid black;
  margin: 10px;
  background-color: #487075;
}

.category_name{
  text-align: center;
}

.item{
  float:left;
}

.price {
  text-align: right;
}

}
