@media (min-width: 600px) and (max-width: 960px){
  .container{
    background-color: green;
  }
}


@media (max-width: 600px){
body{
  margin: 0;
  background-color: #0c0a38;
}

header {
  background-color: #d35d26;
}

header h2 {
  margin-top: 0;
  display: inline;
}

header .log-out {
  float: right;
}

.container{
  background-color: #ba4c16;
  width: 300px;
  text-align: center;
  margin: auto;
  border-radius: 10px;
}

a{
  text-decoration: none;
  color: black;
}

}
