@font-face {
  font-family: 'DEFTONE';
  src:url('DEFTONE.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin-Regular';
  src:url('Cabin-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin-SemiBold';
  src:url('Cabin-SemiBold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JustOldFashion';
  src:url('JustOldFashion.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Signika-Regular';
  src:url('Signika-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Signika-Semibold';
  src:url('Signika-Semibold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpicyRice-Regular';
  src:url('SpicyRice-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'SCRIPTIN';
  src:url('SCRIPTIN.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Delicious-Bold';
  src:url('Delicious-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Walkway-Rounded';
  src:url('Walkway rounded.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Walkway-Ultrabold';
  src:url('Walkway UltraBold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Aldo-PC';
  src:url('Aldo PC.ttf');
  font-weight:normal;
  font-style:normal;
}
