<h1 data-id=<%=current_restaurant_profile.id%>>Welcome to the Dashboard for <%= current_restaurant_profile.restaurant_name %></h1>

<div class="new-menu">
<%= button_tag(type: 'submit', class: "create-menu-button") do %>
  Create a New Menu
<% end %>
</div>