<h1 data-id=<%=current_restaurant_profile.id%> id="restaurant-dashboard-header">Welcome to the Dashboard for <%= current_restaurant_profile.restaurant_name %></h1>

<% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>

<div class="new-menu">
<%= button_tag(type: 'submit', class: "create-menu-button") do %>
  Create a New Menu
<% end %>
</div>