<ul class="restaurant_nav">
    <% if current_restaurant_profile.floor_plan %>
      <li><%= link_to "Current FloorPlan", floor_plan_url(@restaurant.floor_plan.id) %></li>
    <% end %>
    <li><%= link_to "View Outstanding Orders", carts_url %></li>
    <li><%= link_to "Back to Dashboard", restaurant_dashboard_url %></li>
</ul>

<h1 class="title">Edit Profile</h1>
<div class="container"
    <%= render partial: "form" %>
</div>
