<div data-role="page" id="page1">
    <div data-theme="a" data-role="header">
        <h3>
            Search Page
        </h3>
    </div>
    <div data-role="content">
        <form action="/restaurant_profiles/find/" method ="get" id="search_form" data-transition="flow">
            <div data-role="fieldcontain">
                <input name="name" class="ui-input-search" id="filter" placeholder="Find a Restaurant" value=""
                type="search">
                <span id="filter-count"></span>
            </div>
            <input type="submit" data-inline="true" value="Submit" id="submit">
        </form>
    </div>
</div>
