<h1><%= @restaurant.restaurant_name %> Dashboard</h1>


<div id="get_floorplan">
  
</div>




<ul>
  <!-- restaurant_profile_floor_plan_index_url -->
  <!-- (@restaurant) -->
  <li><%= link_to "Current FloorPlan", root_path %></li>
  <li><%#= link_to "Add New FloorPlan", new_restaurant_profile_floor_plan(@restaurant) %></li>
  <li><%= link_to "View Outstanding Order", carts_url %></li>
</ul>
