<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>
<script
src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
data-key="pk_test_NMkPrt7sgPTLSn1voBk7bGfu"
data-amount="2000"
data-name="Demo Site"
data-description="2 widgets ($20.00)"
data-currency="usd"
data-image="/128x128.png">
</script>
<% end %>
